html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 position: relative;
}

.grid-container div { 
  background-size: cover;
  text-align: center;
  padding-top: 10px;
  width: 70px;
  height: 45px;
 }

 #livre{ 
  background-image: url("../img/livre.gif");
 }

 #selecionado{ 
  background-image: url("../img/selecionado.gif");
 }

 #ocupado{ 
  background-image: url("../img/ocupado.png");
 }

.grid-container div:hover { 
  background-image: url("../img/hover.png") !important;
 }

.grid-container *:after { 
  content:attr(class);
}

.grid-container {
  display: grid;
  grid-gap: 2rem;
  margin:0 auto;
  width: max-content;
  height: max-content;
}

.sala {
  margin:0 auto;
}

p.tela { 
  text-align: center;
  margin:0 auto;
  margin-bottom: 100px !important;
  width: 700px;
  height: 25px;
  background-color: gray;
 }

 .btn {
   margin-top: 25px;
 }